<!DOCTYPE html>
<html>
  <head>
    <title>Livewatch Bug Tracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div id="container">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application'%>
    <%= yield :body_bottom %>
  </body>
</html>
