<!DOCTYPE html>
<html>
  <head>
    <title>BugTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div id="container">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag 'bundle' %>
  </body>
</html>
